<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iBeaconTest1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E08D5AF1C727569002F1AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E08D5C51C72756A002F1AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E08D5D01C72756A002F1AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
